/* 通用组件设置 */
* {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

.container {
  max-width: 60rem;
  height: 30vh;
}

.container--sidebar {
  padding: 0 3.6rem 4.8rem 8rem;
  transition: padding 0.3s;
}

.container--sidebar-collapse {
  padding: 0 3.6rem 4.8rem 11.6rem;
}

.sidebar {
  border-right: 1px solid #ddd;
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 3.6rem;
  background-color: #e9ecef;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-extend {
  width: 7.2rem;
}

.sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.sidebar-item {
}

.sidebar-button {
  background-color: antiquewhite;
  border: 0;
  cursor: pointer;
}

.sidebar-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.sidebar-text {
}
